
/ {
    nrf_radio_fem: my_fem {
        compatible = "skyworks,sky66112-11", "generic-fem-two-ctrl-pins";
        ctx-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>; // LED1
        crx-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>; // LED3
        cps-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>; // free
        chl-gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>; // free
        tx-gain-db = < (-21) >; // Depends on VCC2 -> 3V,+21/20dBm | 1V8,+16dBm | 1V2,+13dBm. Driver defaults 22.
    }; // Try gain=bypass loss inverse approach
};

&radio {
    fem = <&nrf_radio_fem>;
};

&dppic10 {
    status = "okay";
};

// &ppib11 {
    //     status = "okay";
// };

&gpio1 {
    status = "okay";
};